.footer{
    background-color: black;
    padding: 70px 0;
 }
 .footercontainer{
   margin: auto;
   max-width: 80em;

 }

 ul{
    list-style: none;

 }

 .frow{
    display: flex;
    flex-wrap: wrap;
 }

 div.fcol{
    width: 25%;

}
.logoo{
    width: 30%;
}
.fcol ul li a{
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    line-height: 2.5;
}
h2{
    color: wheat;
    padding-left: 40px;
    font-size: 35px;
}

.fcol > ul > li > a:hover{ 
    border-bottom: 1px white solid;
    
}
.fcol{
    min-height: 300px;
}
@media screen and (max-width: 1000px) {
    div.fcol{
        min-width: 40%;
        min-height: max-content;
    }
}
@media screen and (max-width: 600px) {
    div.frow{
        display: block;
    }
}