
 
  
 header{
   position: fixed;
   top: 0; left: 0; right: 0;
   background-color: firebrick;
   padding: 0px 9%;
   align-items: center;
   justify-content: space-between;
   z-index: 1000;
   display: flex;
   width: 100%;
   height: 104px;
   font-family: 'Inter', sans-serif;
   font-family: 'Roboto', sans-serif;
   
   
 }
 
 
 #logo{
   height: 35%;
   width: 35%;
  
 }
 
 header .navbar ul {
   list-style: none;
 }
 header .navbar ul li{
   float: left;
   position: relative;
 }
 
 header .navbar ul li a{
   font-size: 14px;
   padding: 30px;
   color: antiquewhite;
   display: block;
   font-weight: bold;
   text-decoration: none;
 }
 
 header .navbar ul li button{
   font-size: 14px;
   padding: 30px;
   color: antiquewhite;
   display: block;
   font-weight: bold;
   text-decoration: none;
   background-color: firebrick;
 }
 header .navbar ul li ul li a{
   font-size: 14px;
   margin: 0 0 0 0;
   text-align: left;
   padding: 1em;
   line-height: .8em;
   cursor: pointer;
 }
 
   

 
 header .navbar ul li a:hover {
   color: rgb(211, 196, 224);
   transition: 0.8s;
 }
 header .navbar ul li button:hover{
  color: rgb(211, 196, 224);
  transition: 0.8s;
}
 
 .drp-dwn{
   position: absolute;
   text-align: center;
   min-width: 275px;
   background-color: firebrick;
   display:none;
   box-shadow:  1px 1px 1px rgb(145, 33, 33);
   top: 62px;
   min-width: 260px;
   right: -62px;
 }
 header .navbar ul li:hover > ul{
   display: initial;
 }
 header .navbar ul li ul li h3{
   background-color: #8B0000;
   text-align: left;
   width: 230px;
   font-size: 14px;
   color: antiquewhite;
   padding: 5px ;
   margin: 10px 7%;
  
   
 }
 
 
 
 .hamburger{
   width: 20px;
   height: 10px;
 }
 #menu-bar{
   display: none;
 
 }
 header label{
   cursor: pointer;
   display: none;
   
 }
 
 @media(max-width:1300px){
   header label{
       display: initial;
   }
   #logo{
       margin-left: 0%;
   }
   header .navbar{
       position: absolute;
       top: 100%; left: 0; right: 0;
       background-color: black;
       width: 70%;
       margin: 0 auto;
       z-index: 100;
       display: none;
       
    }
   header .navbar ul li button{
     background-color: transparent;
     margin: auto;
   }

   

   header .navbar ul{
       margin: 0 0 0 0;
       padding: 0 0 0 0;
   }

   header .navbar ul li ul li{
     padding: 0px;
   }
   header .navbar ul li ul li a{
       font-size: 14px;
       margin: 0;
       padding: 5px;
       cursor: pointer;
       padding-bottom: 15px;
   }

   header .navbar ul li{
       width: 100%;
       text-align: center;
       height: 50px;
       margin: auto 0;
       background-color: black;
       border: 1px solid white;
    
   }

   header .navbar ul li ul{
       position: absolute;
       width: 40%;
       text-align: center;
       color: antiquewhite;
       z-index: 100;
       margin-left: 10%;
       margin-top: -14.5%;
       box-shadow: none;
       
 
   } 
  
   header .navbar ul li ul li {
     border: none;
     height: 60%;
     background-color: firebrick;
   }
 
   header .navbar ul li ul li h3{
       width: 90%;
       padding: 10px;
       font-size: 16px;
       margin: 0 5%;

   }
 
   #menu-bar:checked ~ .navbar{
       display: initial;
   }
 }



 button{
   cursor: pointer;
 }
 
 .arrowRed{
  content: '';
  padding: 0;
  background-color: #8B0000;
  border-left: 20px solid transparent;
  transform: rotate(45deg);
  display: block;
  width: 8px;
  height: 21px;
  margin-left: 120px;
  position: relative;
  top: 20px;
 }



 
 