
*{
    font-family: Arial, Helvetica, sans-serif ;
    margin: 0;
    padding: 0;
    border: 0;
    max-width: 100%;
    box-sizing: border-box;
    
}
body{
    padding-top: 96px;
    
}
img{
    vertical-align: middle;
}
p{
    font-weight: 400;
}
h4{
    font-weight: 500;
}

  /* -----------------------mainBox-------------------------------------------*/
.mainboxwrapper{
    overflow: hidden;

}
.background{
    background: rgba(0, 0, 0, 0.6) url(/pics/bg1.webp);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}


  .mainbox{
    position: relative;
    display: flex;
    padding: 200px 150px 150px 150px;
    height: max-content;
    justify-content: space-between;
    
  }  
 

  
.main-left{
    width: 50%;
    padding-right: 10em;
    padding-top: 8%;
}

  .main-right{
    
   
    line-height: 1.75;
    overflow: auto;
    font-size: 12px;
    color: #fff;
    width: 45%;
    min-width: 20%;
    border-radius: 10px;
    padding-left: 0; margin-left: 0;
    font-size: 0.9em;
    max-height:41em;
  }
  #inertext{
    background: rgba(0, 0, 0, 0.6);
  }
  pre{
   margin-left:-3em ; 
   font-size: 13px;
  }

  h1#mainHeading{
    font-size: 1.8em;
    margin: 0 0 1em 0;
    padding: 0;
    letter-spacing: 3px;
    font-weight: 700;
    color: #fff;
  }

  p#mainPara{
    color: #fff;
    max-width: 880px;
    text-align: justify;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.6em;
  }

  button#getStarted{
    background-color: transparent; 
    color: white;
    padding: 10px 30px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    border: solid white 2px ;
    transition: 0.5s;
    margin-top: 20px;

 }
 button#getStarted:hover{
    opacity: 0.5;
  }

  .mainfooter>div>span {
    display: block;
    color: rgba(255, 255, 255, 0.651);
    font-size: 28px;
    font-weight: 600;
    line-height: 1.22;
    margin-bottom: 10px
}
.mainfooter>div {
    width: 100%!important;
    display: block!important
}
.mainfooter>div {
    width: 5%;
    display: inline-block;
    color: rgba(255, 255, 255, 0.651);
    font-size: 15px;
    line-height: 1.63;
    text-align: center;
    font-weight: 400;
    padding:none;
}

.footerinner{
    padding: 0px 20% 0 20%;
    display: flex;
    position: relative;
}
.counts{
    position: relative;
}

.mainfooter{
    display: flex;
    background: transparent;
    min-width: 60%;
    color: antiquewhite;
    justify-content: center;
    padding: 0 20% 0 20%;
    min-height: 50px;
    padding-top: 20px;
    padding-bottom: 1.5em;
    position: relative;
    
}

.mainfooter::before{
    content: "";
    position: absolute;
    top: 0px; right: 0; left: 0; bottom:0;
    background: rgba(135, 6, 6, 0.61);
    box-sizing: border-box;
    background-position: 50% 0;
    height: 100%;   
  }

/*


/* -----------------------White and red boxes-------------------------------------------*/

div.centered{
    display: block;
    text-align: center !important;
    max-width: 800px!important;
    margin: 0 auto;
    padding: 10px 0;
}


.whitebox{
    background-color: rgba(250,235,215,255);
    min-height: 800px;
    width: 100%;
    padding: 4em 0em 5em 0em
    
}
h4{
    font-size: 1.4em;
    padding: 0; margin-bottom: 0; border: none;
    padding-bottom: 24.3px;
    
}
.red-sec{
    margin: 0; padding: 0;
    padding: 0 4px 0 2px;
    margin: 0 0 10px;
    text-align: justify;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: sienna;
    font-size: 17.4px;
    box-sizing: border-box;
    line-height: 2;
}
.red{
    color: #d50409;
    font-weight: 700;
    font-size: 1.4em;
    padding-bottom: .5em;
    margin-top: 31.92px;
    
}
  

.redPicCol{
    color: #d50409;
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 63.3px;
    
}
p.red{
    color: sienna;
    font-size: 16px;
    text-align: left;
    line-height: 2;
    word-spacing: 0.6em;
}
.textbox > a{
    text-decoration: none;
    color: #c53a07;
    
}

.row1{
    display: block;
    width: calc(100% - 6em);
    margin: auto!important;
}
.whiteT{
    color: antiquewhite;
}
.row2{
    display: flex;
    margin-left: 0; padding-left: 0;
    margin: auto!important;
    max-width: 80%;
    width: calc(100%-8em);
}

.pContainer{
    display: flex;
    justify-content: space-around;
}
.box{
    padding: 40px 0px;
    padding-bottom: 60px;
    width: 30%;
    margin: auto!important;
    display: flex;
    
}
.textbox{
    min-width: 350px;
    margin: 0;
    padding: 0;
}
.textbox a:hover{
    border-bottom: 1px solid;
    transition: 0.4s;
}
.small{
    
    border-bottom: 0;
    position: relative;
    width: 23px;
    filter: grayscale(50%);  
}
.smallpic{
    padding: 2em 1em;
    width: 80vh;
    filter: grayscale(50%);
}
.redbox{
    background: #cd2727;
    min-height: 800px;
    justify-items: center;
    
}
p.white{
    color: antiquewhite;
    font-size: 16px;
    text-align: left;
    line-height: 2;
}
h1.white{
    color: antiquewhite;
    font-size: 35px;
}

button.moredetails{
    background-color: rgb(82, 79, 79); 
    color: white;
    padding: 10px 30px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    margin-top: 20px;
    transition: 0.5s;

 }
 button.moredetails:hover{background: rgb(117, 107, 107);}

 .row{
    max-height: 50px;
 }
 .pictext{
    width: 45%;
    padding: 45px;
    min-height: max-content;
    display: block;
    position: relative;}
    
    

 h5{
    padding: 0;
    text-align: left;
    margin: 0;
 }
 .icon{
    position: relative;
    top: 2em;
    right: .8em;
    width: 23px;
    filter: grayscale(50%);
    height: 24px;
 }
 .width45{
    width:45%;
 }

 .picCol{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 208px 0 174px 0;
    width: calc(100% - 6em);
    margin: auto;
    
 }
 .bigPictureRight{
    max-width: 500px;
    max-height: 340px;
    
    
 }
 .bigPictureLeft{
    max-width: 500px;
    max-height: 340px;
    padding: 0; margin: 0;
   
 }

.marginLeft{
    margin-left: 10%;
}

 .footer{
    background-color: black;
    padding: 70px 0;
 }
 .footercontainer{
   width: 90%;
    margin: auto;

 }

 ul{
    list-style: none;

 }

 .frow{
    display: flex;
    
 }

 div.fcol{
    width: 25%;

}
.fcol>h2{
    padding-left: 0;
}
.logoo{
    width: 30%;
}
.fcol ul li a{
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    line-height: 2.5;
}
h2{
    color: wheat;
    padding-left: 40px;
    font-size: 35px;
}

.fcol > ul > li > a:hover{ 
    border-bottom: 1px white solid;
  
}

.flag{
    width: 20px;
}




@media screen and (max-width: 1200px) {
    .footer,.picCol, div.mainbox, .mainfooter , div.main-right , div.main-left  , .row1 , div.centered  , .redbox , .whitebox{
     padding: 25px 5px;
     display: block;
     margin: auto auto !important;

    }
    .bigPicture{
        padding: 10% 0;
    }
    
    .textbox>p{
        margin-left: -8%; 
    }
    .textbox>a{
        margin-left: -1%;
    }
    h4{
        margin-left: 0;
        
    }
    
    pre{
        padding: 0; margin: 0;
        margin-left: -2em;
        margin-top: -1.5em;
    }
    
      .fcol>h2{
        display: block;
        padding-bottom: 10px;
    }
    div.main-left,div.main-right{
        width: 90%;
    }
    .mainboxwrapper{
    padding: 15% 0 0 0;
    }
    
    .row2{
        width: 95%;
        margin: auto !important;
        display: block;
        max-width: 100%;
    }
    .icon{
        right: 0;
    }
    .picCol{
       display: block;
       max-width: calc(100% - 50px);
     }
    
     .pictext{
        padding: 25px 0px;
        display: block;
        margin: auto auto !important;
        width: 100%;
     }
     .bigPictureLeft,.bigPictureRight{
        width: 100%;
        display: block;
        height: 100%;
     
     }
     .textbox>p, .textbox>h4,.textbox>a, .smallpic{
        padding: 0; margin: auto;
        text-align: left;
        padding-bottom: 25px;
     }
     .box{
        width: 100%;
        
        
     }
     .negmar, .negmar40{
        margin-left: 0;
     }
     .textbox{
        padding: 25px;
     } 
     .small{
        
        border-bottom: 0;
        position: relative;
        width: 23px;
        filter: grayscale(50%);
     }

    
     .redbox, .whitebox{
        max-height: fit-content;
     }

     html{
        zoom: 80%;}
    .footercontainer{
        max-width: 72em;
    }
    .fcol{
        width: 70%;
        display: block;
         
    }
    p.red, p.white{
        padding: 20px 60px;
    }
    .fcol{
        display: flex;
        flex-wrap: wrap;
        width: min-content;
        flex-direction: column;

    }
    .fcol ul{
        position: relative;
        top: 0px;
    }
    

} 



@media screen and (max-width: 1000px) {
    div.fcol{
        min-width: 40%;
        min-height: max-content;
    }
}
@media screen and (max-width: 600px) {
    div.frow{
        display: block;
    }
}


.toggle-button{
    position: relative;
    top: 2.75rem;
    right: 1rem;
    justify-content: space-between;
    flex-direction: column;
    width: 30px;
    height: 21px;
}
span.bar{
    height: 5px;
    color: black;
    border: 2px solid black;
}

.hide{
    display: none;
}
.show{
    display: block;
}
#showAPII{
    background-color: transparent; 
    color: white;
    padding: 10px 30px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    border: solid white 2px ;
    transition: 0.5s;
    
    margin: 25px auto;


 }
 button#showAPII:hover{
    opacity: 0.5;
}
#popup{
    width: 500px;
    height: 35px;
    border-radius: 15px;
    font-size: 20px;
    text-align: center;
    background: transparent;
    color: wheat;
    border: 2px solid wheat;
}

.fcol h2{
    font-size: 26px;
    font-weight: 500;
    line-height: 1.4;
    padding: 0 0 20px;
    color: #e5e5e5;
}
.fcol a{
    font-size: 14px;
    line-height: 36px;
    color: #e5e5e5;
}

.containerWhite{
    margin: auto !important;
    max-width: 78em;
    width: calc(100% - 6em);


}
.Bcontainer{
    max-width: 21em;
    margin: 2.5em;
    min-width: 20em;
}
.textB{
    min-width: 23em;
    margin-bottom: 1em;
}
.icon1{
    position: relative;
    top: 3.6em;
    right: 2.2em;
    width: 23px;
    filter: grayscale(50%);
    height: 24px;
}
.rowINNER{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.MD{
    text-decoration: none;
    color: #c53a07;
    font-size: 16px;
}
.MD:hover{border-bottom: 1px solid; transition: 0.5s;}

@media screen and (max-width: 750px) {
    .Bcontainer{
        max-width: none;
        margin: 1em;
    }
}

.millions span{
    display: flex;
    display: block;
    color: rgba(255, 255, 255, 0.651);
    font-size: 28px !important;
    font-weight: 600;
    line-height: 1.22;
    margin-bottom: 10px;
  }
  .nums{
    font-size: 28px !important;
  }
.num{
    font-size: 28px !important;
  }

